@{
      WebSecurity.RequireAuthenticatedUser();
}

<!DOCTYPE html>

<title>Dashbord</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
           
  <link href="~/css/dashbord.css" rel="stylesheet">
   <link href="~/css/w3css.css" rel="stylesheet">
    <script src="~/js/jquery.js"></script> 

<body class="w3-light-gray">
 <div class="w3-top">
       <div class="w3-top">@RenderPage("~/Header2.cshtml")</div>
           </div>
     
     
    <div class=" w3-card-4  w-border w3-border-blue" style="margin-left: 400px; margin-right: 200px; max-width:1000px; margin-top:70px">
      @RenderBody()
          </div>
    
</body>
</html>        
