<!DOCTYPE html>
<html lang="en">
    <head>
<title>sidebar</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
            ul{
 padding: 0;
  margin-top: 8px;
 
}

          div #side li {       
                width: 23%;
                height: 70px;
               
                   padding-bottom : 4px;
                  
                  margin-left:4px;
                  margin-top:4px; 
                  background-color: #fff;
            }
          

    </style>
</head>

<body>

<div>
 
  <div class="w3-panel">
<div class="w3-display-block  w3-margin-bottom" style="width: 100%;  ">
            <h4 class="w3-small" style="float: left"><strong>For Sell</strong></h4>
     </div>
      
            <br/>
          
<ul id="side" class="  w3-text-blue-grey w3-padding-bottom w3-center w3-tiny ">
       
    <li class="w3-center w3-hover-shadow" value="House" >
        <a href="~/Default.cshtml">
          <img class="properties" src="~/images/HOUSES3.jpg" alt="property" style="width: 60px; height: 50px;">
          <label class="w3-center w3-tiny"><strong>House</strong></label>
            </a>
    </li>

    <li class="w3-center w3-hover-shadow" value="Flats">
        <a href="~/Default.cshtml">
           <img class="properties" src="~/images/FLAT.jpg" alt="property" style="width: 60px; height: 50px;"><br/>
           <label class="w3-center w3-tiny"><strong>Flats</strong></label>
            </a>
    </li>


    
    <li class="w3-center w3-hover-shadow" value="Office">
          <img class="properties" src="~/images/OFFICE1.jpg" alt="property" style="width: 60px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong>Office</strong></label>
    </li>

    
    <li class="w3-center w3-hover-shadow" value="Shop" >
          <img class="properties" src="~/images/SHOP1.jpg" alt="property" style="width: 60px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong> Shop </strong></label>
    </li>
          
    
    <li class="w3-center w3-hover-shadow" value="Land">
          <img class="properties" src="~/images/LAND1.jpg" alt="property" style="width: 50px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong> Land </strong></label>
    </li>

    <li class="w3-center w3-hover-shadow" value="Agriculture Land" >
          <img class="properties" src="~/images/LAND1.jpg" alt="property" style="width: 50px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong>Agriculture Land </strong></label>
    </li>
  
    <li class="w3-center w3-hover-shadow" value="Farm Houses">
          <img class="properties" src="~/images/LAND1.jpg" alt="property" style="width: 50px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong> Farm House </strong></label>
    </li>

      <li class="w3-center w3-hover-shadow" value="PentHouses">
          <img class="properties" src="~/images/LAND1.jpg" alt="property" style="width: 50px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong> PentHouse </strong></label>
    </li>
     
    <li class="w3-center w3-hover-shadow" value="WareHouses" >
          <img class="properties" src="~/images/LAND1.jpg" alt="property" style="width: 50px; height: 50px;"><br/>
          <label class="w3-center tiny"><strong> WareHouse </strong></label>
    </li>
      





       </ul>

  </div>
    <br/>

  <div class="w3-panel">
<div class="w3-display-block  w3-margin-bottom" style="width: 100%;  ">
            <h4 class="w3-small" style="float: left"><strong>For Rent</strong></h4>
     </div>
      
            <br/>
          
<ul id="side" class="  w3-text-blue-grey w3-padding-bottom w3-center w3-tiny ">
       
    <li class="w3-center w3-hover-shadow" value="House" >
        <a href="~/Default.cshtml">
          <img class="properties" src="~/images/HOUSES3.jpg" alt="property" style="width: 60px; height: 50px;">
          <label class="w3-center w3-tiny"><strong>House</strong></label>
            </a>
    </li>

    <li class="w3-center w3-hover-shadow" value="Flats">
        <a href="~/Default.cshtml">
           <img class="properties" src="~/images/FLAT.jpg" alt="property" style="width: 60px; height: 50px;"><br/>
           <label class="w3-center w3-tiny"><strong>Flats</strong></label>
            </a>
    </li>


    
    <li class="w3-center w3-hover-shadow" value="Office">
          <img class="properties" src="~/images/OFFICE1.jpg" alt="property" style="width: 60px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong>Office</strong></label>
    </li>

    
    <li class="w3-center w3-hover-shadow" value="Shop" >
          <img class="properties" src="~/images/SHOP1.jpg" alt="property" style="width: 60px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong> Shop </strong></label>
    </li>
          
    
    <li class="w3-center w3-hover-shadow" value="Land">
          <img class="properties" src="~/images/LAND1.jpg" alt="property" style="width: 50px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong> Land </strong></label>
    </li>

    <li class="w3-center w3-hover-shadow" value="Agriculture Land" >
          <img class="properties" src="~/images/LAND1.jpg" alt="property" style="width: 50px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong>Agriculture Land </strong></label>
    </li>
  
    <li class="w3-center w3-hover-shadow" value="Farm Houses">
          <img class="properties" src="~/images/LAND1.jpg" alt="property" style="width: 50px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong> Farm House </strong></label>
    </li>

      <li class="w3-center w3-hover-shadow" value="PentHouses">
          <img class="properties" src="~/images/LAND1.jpg" alt="property" style="width: 50px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong> PentHouse </strong></label>
    </li>
     
    <li class="w3-center w3-hover-shadow" value="WareHouses" >
          <img class="properties" src="~/images/LAND1.jpg" alt="property" style="width: 50px; height: 50px;"><br/>
          <label class="w3-center tiny"><strong> WareHouse </strong></label>
    </li>
      





       </ul>

  </div>
     <br/>
   <div class="w3-panel">
<div class="w3-display-block  w3-margin-bottom" style="width: 100%;  ">
            <h4 class="w3-small" style="float: left"><strong>For Project</strong></h4>
     </div>
      
            <br/>
          
<ul id="side" class="  w3-text-blue-grey w3-padding-bottom w3-center w3-tiny ">
       
    <li class="w3-center w3-hover-shadow" value="House" >
        <a href="~/Default.cshtml">
          <img class="properties" src="~/images/HOUSES3.jpg" alt="property" style="width: 60px; height: 50px;">
          <label class="w3-center w3-tiny"><strong>House</strong></label>
            </a>
    </li>

    <li class="w3-center w3-hover-shadow" value="Flats">
        <a href="~/Default.cshtml">
           <img class="properties" src="~/images/FLAT.jpg" alt="property" style="width: 60px; height: 50px;"><br/>
           <label class="w3-center w3-tiny"><strong>Flats</strong></label>
            </a>
    </li>


    
    <li class="w3-center w3-hover-shadow" value="Office">
          <img class="properties" src="~/images/OFFICE1.jpg" alt="property" style="width: 60px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong>Office</strong></label>
    </li>

    
    <li class="w3-center w3-hover-shadow" value="Shop" >
          <img class="properties" src="~/images/SHOP1.jpg" alt="property" style="width: 60px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong> Shop </strong></label>
    </li>
          
    
    <li class="w3-center w3-hover-shadow" value="Land">
          <img class="properties" src="~/images/LAND1.jpg" alt="property" style="width: 50px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong> Land </strong></label>
    </li>

    <li class="w3-center w3-hover-shadow" value="Agriculture Land" >
          <img class="properties" src="~/images/LAND1.jpg" alt="property" style="width: 50px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong>Agriculture Land </strong></label>
    </li>
  
    <li class="w3-center w3-hover-shadow" value="Farm Houses">
          <img class="properties" src="~/images/LAND1.jpg" alt="property" style="width: 50px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong> Farm House </strong></label>
    </li>

      <li class="w3-center w3-hover-shadow" value="PentHouses">
          <img class="properties" src="~/images/LAND1.jpg" alt="property" style="width: 50px; height: 50px;"><br/>
          <label class="w3-center w3-tiny"><strong> PentHouse </strong></label>
    </li>
     
    <li class="w3-center w3-hover-shadow" value="WareHouses" >
          <img class="properties" src="~/images/LAND1.jpg" alt="property" style="width: 50px; height: 50px;"><br/>
          <label class="w3-center tiny"><strong> WareHouse </strong></label>
    </li>
      





       </ul>

  </div>
  </div>

  <div class="w3-container w3-red">
    <p>I am a container.</p>
  </div>
  <div class="w3-container w3-green">
    <p>I am a container.</p>
  </div>
</div>

</body>
</html>
