@{
     
 
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>

         @RenderPage("~/FeaturedAds/Ad_House.cshtml")
 
  <br/>
  <br/>
 
          @RenderPage("~/FeaturedAds/Ad_Project.cshtml")
       
  
  <br/>
  <br/>
   
          @RenderPage("~/FeaturedAds/Ad_Agencies.cshtml")
  
  <br/>
   <br/>
   </body>
</html>
