@{
 var db=Database.Open("StarterSite");
    var select_sql="SELECT * FROM CITIES ";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
      
        <style>
    
            #ren li {       
                width: 24%;
                height: 120px;
               
                   padding-bottom : 4px;
                  
                  margin-left:4px;
                  margin-top:4px; 
                  background-color: #fff;
                 
                border: none;
  line-height:1.5em;

  float:left;
  display:inline;

            }
    </style>

    </head>
    <body>
 <form class="w3-text-blue-grey" id="RentForm" action="~/ScrollLayout.cshtml" method="GET" style="max-width:1400px">

      <div class=" w3-row w3-margin-bottom" style="box-shadow:none;">
             <div class="w3-half w3-center  w3-light-gray" style="margin: auto; width: 50%;">
                    
      <select id="rentcity" class="w3-select w3-border w3-round  w3-card" name="city" style="width: 99%; margin-top: 4px; margin-bottom: 4px; margin-left: 2px;margin-right: 2px; height: 35px ">
    <option value="" disabled selected>Select City</option>
  @foreach(var cit in db.Query(select_sql))
{
       <option value="@cit.NAME">@cit.NAME</option>
}      
  </select>
</div>                
                
         <div class="w3-half w3-center  w3-light-gray" style="margin: auto;width: 50%; ">              
        <select id="rentloc"  class="w3-select w3-border w3-round  w3-card" name="location" style="width: 99%; margin-top: 4px; margin-bottom: 4px; margin-left: 2px;margin-right: 2px; height: 35px ">  
        <option value="" disabled selected>Select location</option>
        </select>  
        </div>   
   <input id="rtype" class="w3-light-gray w3-center w3-tiny w3-hide"  type="text"  value="" name="showDetail" style="height: 1px; width: 2px ; margin-left: 2px;" >
     
            </div>
    

<ul id="ren" class=" w3-card-4 w3-white w3-text-blue-grey  w3-padding-bottom">

    <li class="w3-center w3-hover-shadow" value="hostel">
          <img class="properties" src="~/images/Hostel.jpg" alt="property" style="width: 80px; height: 80px;"><br/>
          <label class="w3-center"><strong>Hostel</strong></label>
    </li>



    <li class="w3-center w3-hover-shadow" value="house">
          <img class="properties" src="~/images/HOUSES3.jpg" alt="property" style="width: 80px; height: 80px;"><br/>
          <label class="w3-center"><strong>House</strong></label>
    </li>
    
    <li class="w3-center w3-hover-shadow" value="Upper Portion">
          <img class="properties" src="~/images/UP3.jpg" alt="property" style="width: 80px; height: 80px;"><br/>
          <label class="w3-center"><strong>Uper Portion </strong></label>
    </li>
           
    <li class="w3-center w3-hover-shadow" value="Lower Portion">
          <img class="properties" src="~/images/LP4.jpg" alt="property" style="width: 80px; height: 80px;"><br/>
          <label class="w3-center"><strong>Lower Portion</strong></label>
    </li>

    <li class="w3-center w3-hover-shadow" value="flat">
           <img class="properties" src="~/images/FLAT.jpg" alt="property" style="width: 80px; height: 80px;"><br/>
           <label class="w3-center"><strong>Flats</strong></label>
    </li>

    <li class="w3-center w3-hover-shadow" value="Office">
          <img class="properties" src="~/images/OFFICE1.jpg" alt="property" style="width: 80px; height: 80px;"><br/>
          <label class="w3-center"><strong>Office</strong></label>
    </li>

    
    <li class="w3-center w3-hover-shadow" value="Shop">
          <img class="properties" src="~/images/SHOP1.jpg" alt="property" style="width: 80px; height: 80px;"><br/>
          <label class="w3-center"><strong> Shop </strong></label>
    </li>
          
    
    <li class="w3-center w3-hover-shadow" value="land">
          <img class="properties" src="~/images/LAND1.jpg" alt="property" style="width: 80px; height: 80px;"><br/>
          <label class="w3-center"><strong> Land </strong></label>
    </li>
   

   

 </ul>
        
</form>

        <script>


    $(document).ready(function(){
    
 $("#ren li").click(function(){
 var sellId = $("#rtype").val($(this).attr("value"));
   $("#RentForm").submit();
  //   alert($("#rtype").val());

      
    });
    });

</script>
 </body>
</html>  